mysql:
  image:mysql-mysql
  ports:
    - "3306:3306"
  expose:
    - "3306"
  environment:
    - MYSQL_USER=user
    - MYSQL_PASSWORD=password
    - MYSQL_FIRST_DATABASE=taxdb
    - MYSQL_SECOND_DATABASE=calculatedb
    - MYSQL_ROOT_PASSWORD=password
    
  volumes:
    - "./conf.d:/etc/mysql/conf.d:ro"